@model IEnumerable<Cinema.Pelicula>

@{
    ViewBag.Title = "Películas";
}

<br />
<br />
<br />
<br />
<br />
<br />
<br />


<div class="container">
    <h2>Administración de películas</h2>

    <p>
        @Html.ActionLink("Añadir nueva", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Pelicula_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Activa)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Pelicula_id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Titulo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Activa)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.Pelicula_id }) |
                    @Html.ActionLink("Detalles", "Details", new { id = item.Pelicula_id })
                </td>
            </tr>
        }

    </table>
</div>

<script>
    $(document).ready(function () {
        $('header').removeClass('ht-header').addClass('ht-header-solid');
    });
</script>