<!DOCTYPE html>
<html>
<head>
    <!-- Basic need -->
    <title>@ViewBag.Title - Cinema de Axel</title>
    <meta charset="UTF-8">
    <!--Google Font-->
    <link rel="stylesheet" href='https://fonts.googleapis.com/css?family=Dosis:400,700,500|Nunito:300,400,600' />
    <!-- Mobile specific meta -->
    <meta name=viewport content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone-no">
    <!-- CSS files -->
    <link rel="stylesheet" href="~/Content/Custom/plugins.css">
    <link rel="stylesheet" href="~/Content/Custom/style.css">
    <script src="~/Scripts/jquery-3.1.1.js"></script>
    <script src="~/Scripts/plugins.js"></script>
    <script src="~/Scripts/plugins2.js"></script>
    <script src="~/Scripts/custom.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>

    @*@Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")*@
</head>
<body>
    <!--preloading-->
    <div id="preloader">
        <img class="logo" src="~/Images/la_union_logo1.png" alt="La Union Logo" width="119" height="58">
        <div id="status">
            <span></span>
            <span></span>
        </div>
    </div>
    <!--end of preloading-->
    <!-- BEGIN | Header -->
    <header class="ht-header">
        <div class="container">
            <nav class="navbar navbar-default navbar-custom">
                
                <div class="navbar-header logo">
                    <div class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <div id="nav-icon1">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                    <a href="/Home/Index"><img class="logo" src="~/Images/la_union_logo1.png" alt="" width="119" height="58"></a>
                </div>
                
                <div class="collapse navbar-collapse flex-parent" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav flex-child-menu menu-left">
                        <li class="hidden">
                            <a href="#page-top"></a>
                        </li>
                        <li>@Html.ActionLink("Inicio", "Index", "Home", null, null)</li>
                    </ul>
                </div>
                
            </nav>
        </div>
    </header>
    <!-- END | Header -->

    @RenderBody()

    <!-- footer section-->
    <footer class="ht-footer">
        <div class="ft-copyright">
            <div class="ft-left">
                <p>&copy; @DateTime.Now.Year - Concurso laboral Ingenio La Union</p>
            </div>
            <div class="backtotop">
                <p><a href="#" id="back-to-top">Back to top  <i class="ion-ios-arrow-thin-up"></i></a></p>
            </div>
        </div>
    </footer>
    <!-- end of footer section-->

    @RenderSection("scripts", required: false)
</body>
</html>
