@model Cinema.Models.OrdenVM

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />
<br />
<br />

<div class="buster-light">
    <div class="page-single movie_list">
        <div class="container">
            <div class="row ipad-width2">
                <div class="col-md-8 col-sm-12 col-xs-12">
                    <div class="movie-item-style-2">
                        <img src="@String.Format("https://image.tmdb.org/t/p/w500/{0}", Model.Movie.PosterPath)" alt="">
                        <div class="mv-item-infor">
                            <h6>@Html.ActionLink(Model.Movie.Title, "Details", new { Id = Model.Movie.Id })</h6>
                            <p class="rate"><i class="ion-android-star"></i><span>@Model.Movie.VoteAvarage</span> /10</p>
                            <p class="describe">@Model.Movie.Overview</p>
                            <p class="run-time"> Duración: @Model.Movie.Runtime’</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @*@Html.BeginForm("Confirm", "Home", new { funcion_id = Model.FuncionId, asiento = Model.Asiento_ubicacion })
    {*@
    <div class="container">
        <h1>Elige tu función:</h1>
        <hr />
        @Html.DropDownListFor(x => x.FuncionId, Model.Funciones, new { @onchange = "actualizarAsientos(this.value)" })
    </div>
    <br />
    <br />
    <br />
    <div class="container">
        <h1>Elige tu asiento:</h1>
        <hr />
        <div style="margin-left: auto; margin-right: auto;">
            <ul id="seatDescription">
                <li>
                    <img src="~/Images/armchair.png" width="25" />
                    Asiento Disponible
                </li>
                <li>
                    <img src="~/Images/armchair.png" width="25" style="background-color: #ff172a; border-radius: 5px;" />
                    Asiento Ocupado
                </li>
                <li>
                    <img src="~/Images/armchair.png" width="25" style="background-color: #5ae866; border-radius: 5px;" />
                    Asiento Seleccionado
                </li>
            </ul>
        </div>
    </div>
    <div class="container">
        <div id="holder">
            <br />
            <br />
            <table id="place">
                @{ int counter = 0;}
                @for (int i = 1; i < 6; i++)
                {
                    <tr>
                        @for (int j = 1; j < 6; j++)
                        {
                            if (Model.Asientos.ElementAt(counter).Disponible)
                            {
                                <td class="available-seat" id="@Model.Asientos.ElementAt(counter).Ubicacion"></td>
                            }
                            else
                            {
                                <td class="blocked-seat" id="@Model.Asientos.ElementAt(counter).Ubicacion"></td>
                            }
                            counter++;
                        }
                    </tr>
                }
            </table>
            <img src="~/Images/cinema_screen.png" style="width: 300px; height: 70px; margin-left:auto; margin-right:auto; display: block;" />
        </div>
        @Html.TextBoxFor(m => m.Asiento_ubicacion, new { style = "visibility:hidden" })
        <input type="submit" value="Aceptar">

    </div>

    <br />
    <br />
</div>

<script>
    $('.available-seat').on('click', function () {
        $("td").removeClass('selected-seat');
        $(this).toggleClass('selected-seat');
        $("#Asiento_ubicacion").val($(this).attr('id'));
    });

    function actualizarAsientos(val) {
        var ocupados = [];
        @foreach (var item in Model.Asientos.Where(x => !x.Disponible))
        {
            @:ocupados.push({ funcion: '@item.Funcion_Id', asiento: '@item.Ubicacion' });
        }

        $('.blocked-seat').removeClass('blocked-seat').addClass('available-seat');
        for (i = 0; i < ocupados.length; i++) {
            if (ocupados[i].funcion == val) {
                $("#" + ocupados[i].asiento).addClass("blocked-seat").removeClass("available-seat");
            }
        }
        $('.blocked-seat').prop("onclick", null).off("click");
        restablecerListener();
    };

        function restablecerListener() {
            $('.available-seat').on('click', function () {
                $("td").removeClass('selected-seat');
                $(this).toggleClass('selected-seat');
                $("#Asiento_ubicacion").val($(this).attr('id'));
            });
        }
</script>

