@model Cinema.Models.OrdenVM

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="http://hernansartorio.com/jquery-nice-select/js/jquery.nice-select.min.js"></script>
<script src="http://hernansartorio.com/jquery-nice-select/js/fastclick.js"></script>
<script src="http://hernansartorio.com/jquery-nice-select/js/prism.js"></script>

<br />
<br />
<br />
<br />

<div class="buster-light">
    <div class="page-single movie_list">
        <div class="container">
            <div class="row ipad-width2">
                <div class="col-md-8 col-sm-12 col-xs-12">
                    <div class="movie-item-style-2">
                        <img src="@String.Format("https://image.tmdb.org/t/p/w500/{0}", Model.Movie.PosterPath)" alt="">
                        <div class="mv-item-infor">
                            <h6>@Html.ActionLink(Model.Movie.Title, "Details", new { Id = Model.Movie.Id }, new { id = "tituloPelicula" })</h6>
                            <p class="rate"><i class="ion-android-star"></i><span>@Model.Movie.VoteAvarage</span> /10</p>
                            <p class="describe">@Model.Movie.Overview</p>
                            <p class="run-time"> <b>Duración:</b> @Model.Movie.Runtime’     <span><b>Lanzamiento:</b> @Model.Movie.ReleaseDate </span></p>
                            <p><span><b>Géneros:</b> @Model.Movie.Genres</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @if (Model.Funciones.Any())
    {
        using (Html.BeginForm("Confirm", "Home", FormMethod.Post, new { id = "orden" }))
        {
            <div class="container">
                <h1>Elige tu función:</h1>
                <hr />
                @Html.DropDownListFor(x => x.FuncionId, Model.Funciones, new { @onchange = "actualizarAsientos(this.value)", @class = "Wide" })
                <button type="button" id="SeleccionarEconomica" class="btn">Muéstrame la más económica</button>
            </div>
            <br />
            <br />
            <br />
            <div class="container">
                <h1>Elige tu asiento:</h1>
                <hr />
                <div style="margin-left: auto; margin-right: auto;">
                    <ul id="seatDescription">
                        <li>
                            <img src="~/Images/armchair.png" width="25" />
                            Asiento Disponible
                        </li>
                        <li>
                            <img src="~/Images/armchair.png" width="25" style="background-color: #ff172a; border-radius: 5px;" />
                            Asiento Ocupado
                        </li>
                        <li>
                            <img src="~/Images/armchair.png" width="25" style="background-color: #5ae866; border-radius: 5px;" />
                            Asiento Seleccionado
                        </li>
                    </ul>
                </div>
            </div>
            <div class="container">
                <div id="holder">
                    <br />
                    <br />
                    <table id="place">
                        @{ int counter = 0;}
                        @for (int i = 1; i < 6; i++)
                        {
                            <tr>
                                @for (int j = 1; j < 6; j++)
                                {
                                    if (Model.Asientos.ElementAt(counter).Disponible)
                                    {
                                        <td class="available-seat" id="@Model.Asientos.ElementAt(counter).Ubicacion"></td>
                                    }
                                    else
                                    {
                                        <td class="blocked-seat" id="@Model.Asientos.ElementAt(counter).Ubicacion"></td>
                                    }
                                    counter++;
                                }
                            </tr>
                        }
                    </table>
                    <img src="~/Images/cinema_screen.png" style="width: 300px; height: 70px; margin-left:auto; margin-right:auto; display: block;" />
                </div>

                @Html.TextBoxFor(m => m.Asiento_ubicacion, new { style = "visibility:hidden" })
                @Html.HiddenFor(m => m.Extras)
                @Html.HiddenFor(m => m.Total)
            </div>
            <div class="container">
                <h1>¡Agrega extras a tu reserva!</h1>
                <hr />
                @foreach (var extra in Model.ListaExtras)
                {
                    <input type="checkbox" id="@extra.Descripcion"  value="@extra.Precio" /> <text> + Q.@extra.Precio @extra.Descripcion </text> <br />
                }
                <br />
                <br />
                <button type="submit" class="btn btn-secondary btn-block">Aceptar</button>
            </div>
        }
    }
    else
    {
        <div class="container">
            <h1>No hay funciones disponibles</h1>
        </div>
    }
    <br />
    <br />
    <a href="Action/RedirectPage" data-file="Home/GenerarPdf" class="file-download"></a>
</div>

<script>
    $(document).ready(function () {
        $('select').niceSelect();
    });

    $(document).ready(function () {
        $('header').removeClass('ht-header').addClass('ht-header-solid');
    });
    $(document).ready(function () {
        actualizarAsientos($('#FuncionId').children('option:selected').val());
    });


    $('.available-seat').on('click', function () {
        $("td").removeClass('selected-seat');
        $(this).toggleClass('selected-seat');
        $("#Asiento_ubicacion").val($(this).attr('id'));

                });

    $('#SeleccionarEconomica').on('click', function () {
        $('#FuncionId').children('option[value = "' + @Model.FuncionEconomica + '"]').prop("selected", "selected");
        actualizarAsientos($('#FuncionId').children('option:selected').val());
                });

    function getSelected() {
        var sList = "";
        var total = 0.00;
        $('input[type=checkbox]').each(function () {
            if (this.checked) {
                sList += this.id + ", ";
                total += parseFloat(this.value);
            }
        });
        if (sList.length > 1) {
            sList = sList.substring(0, sList.length - 1);
        }
        var precioFuncion = $('#FuncionId').children('option:selected').text().split('Precio:</b> Q.')[1];
        total += parseFloat(precioFuncion);
        $("#Extras").val(sList);
        $("#Total").val(total);
    };

    function actualizarAsientos(val) {
        $('.current').html($('#FuncionId').children('option:selected').text());
        var ocupados = [];
        @foreach (var item in Model.Asientos.Where(x => !x.Disponible))
        {
            @:ocupados.push({ funcion: '@item.Funcion_Id', asiento: '@item.Ubicacion' });
        }

        $('.blocked-seat').removeClass('blocked-seat').addClass('available-seat');
        for (i = 0; i < ocupados.length; i++) {
            if (ocupados[i].funcion == val) {
                $("#" + ocupados[i].asiento).addClass("blocked-seat").removeClass("available-seat");
            }
        }
        $('.blocked-seat').prop("onclick", null).off("click");
        restablecerListener();
    };

        function restablecerListener() {
            $('.available-seat').on('click', function () {
                $("td").removeClass('selected-seat');
                $(this).toggleClass('selected-seat');
                $("#Asiento_ubicacion").val($(this).attr('id'));
            });
    }

    $('#orden').submit(function (event) {
        event.preventDefault();
        getSelected();
        if ($("#Asiento_ubicacion").val() == '') {
            alert('Necesita seleccionar un asiento.');
            jconfirm.instances[0].close();
        }

        var form = $(this)[0];

        $.confirm({
            icon: 'launion_logo',
            title: 'Confirmar su orden',
            content: 'Desea confirmar su pedido para la siguiente funcion: '
                + '<p>' + $('#FuncionId').children('option:selected').text() + '</p>'
                + 'en el asiento ' + $("#Asiento_ubicacion").val() + ' y película <p>' + $('#tituloPelicula').text() + '</p>'
                + 'con un total, incluyendo combos si ha seleccionado, de Q.' + $("#Total").val() ,
            theme: 'supervan',
            buttons: {
                Confirmar: function () {
                    window.open('../../Home/GenerarPdf' + '?func=' + $('#FuncionId').children('option:selected').val() + '&ubi=' + $("#Asiento_ubicacion").val() + '&tot=' + $("#Total").val() + '&ext=' + $("#Extras").val() , '_blank');
                    form.submit();
                },
                Cancelar: function () {
                    jconfirm.instances[0].close();
                }
            }
        });
    });

</script>

