@model IEnumerable<Cinema.Models.PeliculaVM>

@{
    ViewBag.Title = "Inicio";
}

<h2>Bienvenido al cine de Axel</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tagline)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Overview)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Adult)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Runtime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VoteAvarage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PosterPath)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tagline)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Overview)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Adult)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Runtime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VoteAvarage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PosterPath)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
