@model IEnumerable<Cinema.Models.PeliculaVM>

@{
    ViewBag.Title = "Inicio";
}

@*<div class="slider movie-items">
    <div class="container">
        <div class="top"><p>Las más taquilleras</p></div>
        <div class="row">
            <div class="slick-multiItemSlider">
                <div class="movie-item">
                    <div class="mv-img">
                        <a href="#"><img src="../Images/mv3.jpg" alt="" width="285" height="437"></a>
                    </div>
                    <div class="title-in">
                        <div class="cate">
                            <span class="blue"><a href="#">Sci-fi</a></span>
                        </div>
                        <h6><a href="#">Interstellar</a></h6>
                        <p><i class="ion-android-star"></i><span>7.4</span> /10</p>
                    </div>
                </div>
                <div class="movie-item">
                    <div class="mv-img">
                        <a href="#"><img src="images/uploads/slider2.jpg" alt="" width="285" height="437"></a>
                    </div>
                    <div class="title-in">
                        <div class="cate">
                            <span class="yell"><a href="#">action</a></span>
                        </div>
                        <h6><a href="#">The revenant</a></h6>
                        <p><i class="ion-android-star"></i><span>7.4</span> /10</p>
                    </div>
                </div>
                <div class="movie-item">
                    <div class="mv-img">
                        <a href="#"><img src="images/uploads/slider3.jpg" alt="" width="285" height="437"></a>
                    </div>
                    <div class="title-in">
                        <div class="cate">
                            <span class="green"><a href="#">comedy</a></span>
                        </div>
                        <h6><a href="#">Die hard</a></h6>
                        <p><i class="ion-android-star"></i><span>7.4</span> /10</p>
                    </div>
                </div>
                <div class="movie-item">
                    <div class="mv-img">
                        <a href="#"><img src="images/uploads/slider4.jpg" alt="" width="285" height="437"></a>
                    </div>
                    <div class="title-in">
                        <div class="cate">
                            <span class="blue"><a href="#">Sci-fi</a></span> <span class="orange"><a href="#">advanture</a></span>
                        </div>
                        <h6><a href="#">The walk</a></h6>
                        <p><i class="ion-android-star"></i><span>7.4</span> /10</p>
                    </div>
                </div>
                <div class="movie-item">
                    <div class="mv-img">
                        <a href="#"><img src="images/uploads/slider1.jpg" alt="" width="285" height="437"></a>
                    </div>
                    <div class="title-in">
                        <div class="cate">
                            <span class="blue"><a href="#">Sci-fi</a></span>
                        </div>
                        <h6><a href="#">Interstellar</a></h6>
                        <p><i class="ion-android-star"></i><span>7.4</span> /10</p>
                    </div>
                </div>
                <div class="movie-item">
                    <div class="mv-img">
                        <a href="#"><img src="images/uploads/slider2.jpg" alt="" width="285" height="437"></a>
                    </div>
                    <div class="title-in">
                        <div class="cate">
                            <span class="yell"><a href="#">action</a></span>
                        </div>
                        <h6><a href="#">The revenant</a></h6>
                        <p><i class="ion-android-star"></i><span>7.4</span> /10</p>
                    </div>
                </div>
                <div class="movie-item">
                    <div class="mv-img">
                        <img src="images/uploads/slider3.jpg" alt="" width="285" height="437">
                    </div>
                    <div class="title-in">
                        <div class="cate">
                            <span class="green"><a href="#">comedy</a></span>
                        </div>
                        <h6><a href="#">Die hard</a></h6>
                        <p><i class="ion-android-star"></i><span>7.4</span> /10</p>
                    </div>
                </div>
                <div class="movie-item">
                    <div class="mv-img">
                        <img src="images/uploads/slider4.jpg" alt="" width="285" height="437">
                    </div>
                    <div class="title-in">
                        <div class="cate">
                            <span class="blue"><a href="#">Sci-fi</a></span> <span class="orange"><a href="#">advanture</a></span>
                        </div>
                        <h6><a href="#">The walk</a></h6>
                        <p><i class="ion-android-star"></i><span>7.4</span> /10</p>
                    </div>
                </div>
                <div class="movie-item">
                    <div class="mv-img">
                        <img src="images/uploads/slider3.jpg" alt="" width="285" height="437">
                    </div>
                    <div class="title-in">
                        <div class="cate">
                            <span class="green"><a href="#">comedy</a></span>
                        </div>
                        <h6><a href="#">Die hard</a></h6>
                        <p><i class="ion-android-star"></i><span>7.4</span> /10</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>*@
<div class="buster-light">
    <div class="page-single movie_list">
        <div class="container">
            <div class="row ipad-width2">
                <div class="col-md-8 col-sm-12 col-xs-12">

                    @foreach (var movie in Model)
                    {
                    <div class="movie-item-style-2">
                        <img src="@String.Format("https://image.tmdb.org/t/p/w500/{0}", movie.PosterPath)" alt="">
                        <div class="mv-item-infor">
                            <h6>@Html.ActionLink(movie.Title, "Details", new { Id = movie.Id })</h6>
                            <p class="rate"><i class="ion-android-star"></i><span>@movie.VoteAvarage</span> /10</p>
                            <p class="describe">@movie.Overview</p>
                            <p class="run-time"> Duración: @movie.Runtime’</p>
                        </div>
                    </div>
                    }
                </div>
            </div>
        </div>
    </div>
 </div>


    @*<h2>Bienvenido al cine de Axel</h2>*@

    @*<p>
            @Html.ActionLink("Create New", "Create")
        </p>*@
    @*<table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Tagline)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Overview)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Adult)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Runtime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.VoteAvarage)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PosterPath)
                </th>
                <th></th>
            </tr>

        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tagline)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Overview)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Adult)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Runtime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VoteAvarage)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PosterPath)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id=item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.Id })
                </td>
            </tr>
        }*@

    @*</table>*@
